{
    "name": "Website",
    "image": "mcr.microsoft.com/vscode/devcontainers/javascript-node:20",
    "customizations": {
    "vscode": {
        "extensions": [
            "dbaeumer.vscode-eslint",
            "esbenp.prettier-vscode"
        ]
    }
    },
    "postCreateCommand": "yarn install",
    "mounts": [
        "source=${localWorkspaceFolder},target=/workspace,type=bind,consistency=cached"
    ],
    "containerEnv": {
        "WATCHPACK_POLLING": "true",
    },
    "workspaceFolder": "/workspace",
    "remoteUser": "node",
    "appPort": [ 3000 ]
}